#telegram {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}
#tlgbutton{
    border-radius: 5px;
    background-color: cyan;
    width: 100px;
    height: 1cm;
    border:1px solid;
}
#blocks{
    border: 1px solid;
    background-color: lightgrey;
    margin:10px;
    padding:8px;
    border-radius: 8px;
}
.images{
    width: 200px;
    height: 200px;
}